---
Checks: '-*,
         clang-*,
         bugprone-*,
         cppcoreguidelines-*,
         modernize-*,
         performance-*,
         -cppcoreguidelines-pro-type-vararg,
         -modernize-use-trailing-return-type,
         -bugprone-exception-escape'
HeaderFilterRegex: 'src/*.(h|hpp|hh|cc|cpp)$'
AnalyzeTemporaryDtors: false
WarningsAsErrors: ''
...
