[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
